.btn {
    background-color: $color-button-bg;
    border: none;
    border-bottom: .5rem solid $color-red;
    border-radius: .5rem;
    color: $color-button-text;
    font-family: inherit;
    font-weight: bold;
    letter-spacing: 1px;
    opacity: 1;
    padding: 1rem 1.5rem;
    transition: all .75s;

    &:active,
    &:focus {
        background-color: darken($color-button-bg, 20%);
        outline: none;
    }

    &:disabled{
        opacity: 0;
        transform: translateX(-200%);
    }

    &--poll {
        float: right;
        position: relative;
        top: -1.2rem;
    }
}