*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color-body-bg;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  padding: 1rem;
}
