// Colors
$color-white: #fff;
$color-body-bg: #eee;
$color-border: #bbb;
$color-button-bg: #666;
$color-button-text: #eee;
$color-red-dark: #9f1533;
$color-red: #c70024;
$color-blue: #577ED8;
$color-blue-dark: darken($color-blue, 20%);

// Margins
$margin-M: 3rem;

